<div class="container w-100 ">
    <div class="row w-100 mt-5">
        <div class="col-md-12 text-secondary">
            <h1 class="text-center texte-monospace">Sejam bem vindes ao meu blog</h1>
        </div>
    </div>

    <div class="row mt-4 mb-4 w-100">
        <div class="col-md-12 text-info">
            <p class="text-justify text-monospace">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus blanditiis velit totam magnam maxime. Voluptates, sit earum iusto molestiae quod vel minus, eveniet dolorem quas explicabo perspiciatis eius sapiente labore.</p>
        </div>
    </div>
</div>
    
    <div class="parallax">   
    </div>

    <div class="row mt-5 mb-5 w-100 ">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-info text-uppercase font-weight-bold"routerLink="/feed">Ver o feed</button>
        </div>
    </div>


