<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://i.ibb.co/vd43tL2/foto-mgrs.jpg" alt="">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">{{nome}}</h5>
      <p class="card-text text-center text-monospace">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
      <a href="https://www.linkedin.com/in/mauricio-guilherme/" class="btn btn-outline-info mb-3 d-flex justify-content-center">Linkedin</a>
      <a href="https://github.com/mauriciogrs1" class="btn btn-outline-info d-flex justify-content-center ">GitHub</a>
    </div>
  </div>

 